[Desktop Entry]
Categories=Office;
Comment=Kaqaz, Note, Text, Touch
Exec=Kaqaz --touch
GenericName=Kaqaz Touch
Icon=/usr/share/kaqaz/icons/kaqaz.png
Name=Kaqaz Touch
NoDisplay=false
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
Version=1.1.2
X-KDE-SubstituteUID=false
X-KDE-Username=
