[Desktop Entry]
Categories=Office;
Comment=Kaqaz, Note, Text, Touch
Exec=kaqaz --touch
GenericName=Kaqaz Touch
Icon=/opt/extras.ubuntu.com/org.sialan.kaqaz/icons/kaqaz.png
Name=Kaqaz Touch
NoDisplay=false
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
Version=1.1.1
X-KDE-SubstituteUID=false
X-KDE-Username=
