[Desktop Entry]
Version=1.0
Name=Kaqaz
GenericName=Kaqaz
Exec=./Kaqaz
Icon=icons/kaqaz.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
Comment=Kaqaz Note Manager

