#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ 

override_dh_auto_configure:
	dh_auto_configure
	qmake -r PREFIX=/opt/org.sialan.kaqaz/ BUILD_MODE=opt BUILD_TYPE=pro

override_dh_install:
	dh_install

override_dh_clean:
	dh_clean
